section.textimage .container:not(.slider) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px 100px;
}

.bg-dark{
    padding: 150px 0;
    background: var(--c-primary-dark);
}

.bg-dark,
.equipe{
    position: relative;

    &::before,
    &::after{
        content: '';
        z-index: 0;
        position: absolute;
        left: 50%;
        translate: -50% 0;
        display: block;
        width: 100vw;
        aspect-ratio: 1440 / 100 ;
        background-size: contain;
    }

    &::before{
        top: -2px;
        background: url(/wave_top.svg) no-repeat bottom var(--c-primary);
    }
    
    &::after{
        bottom: -1px;
        background: url(/wave_bottom.svg) no-repeat bottom;
    }
}

.textimage-content{
    flex: 1 1 350px;
}

.textimage-content .button{
    margin-top: 50px;
}

.content-image{
    flex: 1 1 450px;
    aspect-ratio: 16/9;
    max-width: 700px;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

#charaZoom{
    transition: transform 0.2s ease;
    transform-origin: center center;
    animation: floating 2s ease-in-out alternate infinite;
}

#fishDescover,
#fishDescover2{
    animation: floating 1.5s ease-in-out alternate infinite;
}

#charaContact{
    animation: floating 2s ease-in-out alternate infinite;
    aspect-ratio: 4/3;
}